# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Mac files
.DS_Store

# Editors
.idea/
.vscode/
*.swp
*.swo

# Playwright
playwright/.cache/
playwright-ui/playwright/

# Test results
test-results/
playwright-report/ 